
html,
body {
    height: 100%;
}
/* nav bar custom css */
.transparent{
    background-color: rgba(0,0,0,.0);
    border: 0;
    
}
.nav.navbar-nav li a{
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px #000;
}
/* css for header  home page */
.carousel,
.item,
.active {
    height: 600px;
}

.carousel-inner {
    height: 600px;;
}
.search{
    margin-top: 15%;
    z-index: 1;
    position: fixed;
}

/* Background images are set within the HTML using inline CSS */

.fill {
    width: 100%;
    height: 600px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    z-index: -1;
    position: relative;
}



/* css for services page */
#services h3{
    color: lightblue;
}
#header-service h2{
    z-index: 1;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
#header-service{
   
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    
}
#services h1{
    color: lightgreen;
}
#bgvideo{
    position: fixed;
    top: 25%;
    left: 25%;
    z-index: -1;
    min-height: 600px;
    min-width: 100%;
    width: auto;
    height: auto;
    transform: translate(-25%, -25%);
}
    

/*css for about page*/
#about-section{
    min-height: 600px;
    margin-top: 15%;
}



/* css for contact page */
#contact-section{
    min-height: 600px;
}
.form-area{
    margin-top: 20%;
}
.map-area{
    margin-top: 10%;
}
#map {
        height: 400px;
}
/* contact page end */

/*css for gallery section */
#gallery-section{
    margin-top: 15%;
}
#gallery-section{
    min-height: 600px;
}
/*css for search */
#search-box{
    min-height: 600px;
    margin-top: 15%;
}
/*css for footer */
footer{
    padding: 5px;
    margin-top: 20px;
    
    font-size: 1.2em;
    background-color: darkslategray;
    color: white;
}


