
html,
body {
    height: 100%;
}
.transparent{
    background-color: rgba(0,0,0,.0);
    border: 0;
    
}
.nav.navbar-nav li a{
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px #000;
}
.carousel,
.item,
.active {
    height: 600px;
}

.carousel-inner {
    height: 600px;;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 600px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#services h3{
    color: lightblue;
}
#services h1{
    color: lightgreen;
}
#header-container{
    
    width: 100%;
    height: 600px;;
    position: relative;
    border-left: none;
    border-right: none;
    padding: 20px;
}
#video-container{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
video{
    position: absolute;
    z-index: -1;
    opacity: 0.8;
    width: 100%;
}
#header-container h2{
    z-index: 1;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

footer .footer{
    padding: 5px;
    margin-top: 20px;
    clear: both;
    font-size: 1.2em;
    background-color: darkslategray;
    color: white;
}


