
html,
body {
    height: 100%;
}
.transparent{
    background-color: rgba(0,0,0,.0);
    border: 0;
    
}
.nav.navbar-nav li a{
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px #000;
}
.carousel,
.item,
.active {
    height: 600px;
}

.carousel-inner {
    height: 600px;;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 600px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#services h3{
    color: lightblue;
}
#services h1{
    color: lightgreen;
}
#header-container{
   
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    
}
#bgvideo{
    position: fixed;
    top: 25%;
    left: 25%;
    z-index: -1;
    min-height: 600px;
    min-width: 100%;
    width: auto;
    height: auto;
    transform: translate(-25%, -25%);
}
    
   
#header-container h2{
    z-index: 1;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
#contact-section{
    min-height: 600px;
}
#about-section{
    min-height: 600px;
}
#gallery-section{
    min-height: 600px;
}
.form-area{
    margin-top: 20%;
}
.map-area{
    margin-top: 10%;
}
#map {
        height: 400px;
}
#gallery-section{
    margin-top: 15%;
}

footer{
    padding: 5px;
    margin-top: 20px;
    
    font-size: 1.2em;
    background-color: darkslategray;
    color: white;
}


